body {
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    color: #00ff88;
    font-size: 50px;
}

.shop-btn {
    display: inline-block;
    background-color: #00ff88;
    color: black;
    padding: 14px 30px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    margin-top: 20px;
}
nav {
    margin-bottom: 40px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 17px;
}

nav a:hover {
    color: #00ff88;
}
.product-card {
    background-color: #111;
    border: 1px solid #00ff88;
    border-radius: 15px;
    padding: 25px;
    width: 250px;
    margin: 30px auto;
}

.product-card h3 {
    color: #00ff88;
}

.product-card button {
    background-color: #00ff88;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
}
